<h1>Log In</h1>

<%= form_with url: '/login' do |f| %>
    <div class="form-outline mb-4 col-md-4">
        <%= f.label :email, class: 'form-label' %>
        <%= f.text_field :email, class: 'form-control', autofocus: true %>
    </div>
    <div class="form-outline mb-4 col-md-4">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div>
        <%= f.submit "Login", class: 'btn btn-primary' %>
    </div>
<% end %>