<!DOCTYPE html>
<html>
  <head>
    <title>Turboly App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <%= render 'layouts/header', collection: current_user %>
    
    <br>

      <% flash.each do |type, msg| %>
        <div class="container <%= type == 'success' ? 'bg-success' : 'bg-danger' %> mb-2">
          <span class="text-light">
            <% if type == 'success'%>
              <i class="fa fa-check"></i>
            <% else %>
              <i class="fa fa-times"></i>
            <% end %>
            <%= msg %>
          </span>
        </div>
      <% end %>

    <br>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application"  %>
  </body>
</html>
